.mp-record-notes {
    .notes-field {
        .notes-field-control {
            button{
                margin-left: 5px;
            }
            padding-right: 15px;
        }
    }
    .notes-list {
        padding: 15px;
        .notes-list-item {
            padding: 10px;
            &.update {
                textarea {
                    border-radius: 4px;
                }
            }
            .notes-list-item-date {
                font-weight: 600;
                float:right;

                .edited{
                    color: $fd-bg-color;
                    font-weight: 600;
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
            .notes-list-item-user {
                font-weight: bold;
                float:left;
            }
            .notes-list-item-content{
                margin-top: 5px;
                background-color: $notes-item-bg;   
                border: 1px solid $border-color;
                border-radius: 4px;
                text-indent: 15px;
                padding: 15px 5px 15px 10px;
            }
            .notes-list-item-control{
                a {
                    &.notes-list-item-control-remove {
                        color:$vin-red;
                    }
                    cursor: pointer;
                    margin-right:5px;
                }
                padding-left: 15px;
            }
        }
    }
}